<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>diary</title>
</head>
<body>
  <ul>
    <% sorted_articles.each do |item| %>
      <% d = item[:created_at] %>
      <li>
        <a href="./article/<%= d.year %>/<%= d.month %>/<%= d.mday %>/<%= item[:slug] %>/">
          <%= d.year %>/<%= d.month %>/<%= d.mday %>: <%= item[:title] %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
</html>
