<!DOCTYPE html>
<html lang="ja">
  <head prefix="og:http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
    <title><%= (defined? html_title) ? html_title : @item[:title] %></title>
    <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <meta property="og:title" content="<%= @item[:title] %>">
    <meta property="og:site_name" content="日記">
    <%- if @item[:ogtype] -%>
    <meta property="og:type" content="<%= @item[:ogtype] %>">
    <%- end -%>
    <%- if @item[:kind] == 'article' -%>
    <meta property="og:description" content="<%= get_summary(@item.compiled_content).strip %>">
    <%- end -%>
  </head>
  <body>
    <nav id="site-nav">
      <span>
        <a class="nav-item" href="/">日記</a>
      </span>
    </nav>
    <div id="page-container">
      <main>
        <%= yield %>
      </main>
      <footer id="site-fotter">
        <a href="/">Top</a>
        <a href="/about/">About</a>
        <a href="/atom.xml">Feed</a>
        <a href="https://www.downcastingsoft.net/">www.downcastingsoft.net</a>
      </footer>
    </div>
  </body>
</html>
